<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="app">
  <div class="calculator section">
    <div class="header wrapper">
      <h1>Beneverages Token Calculator</h1>
    </div>

    <div class="input wrapper type-selection">
      <h2>Whatcha Got?</h2>
      <h3><label for="quantity">Type of Liquid:</label></h3>   
      <div class="types flex-container" v-model="type">
        <div 
          v-bind:class="type.class" 
          v-for="(type, index) in beverages" 
          v-bind:value="type.value" 
          v-on:click="setType(type.value, index)"
        >
          <img v-bind:src="'./images/drinks/' + type.icon + '.png'">
          {{type.name}}
        </div>
      </div>
    </div>

    <div class="input wrapper">
      <div class="flex-container">
        <div class="flex-child">
          <h2>Whatcha Drinking?</h2>
          <h3><label for="volume">Amount of beverage you plan to consume right now:</label></h3>
          <select class="soflow" name="drinkValue" v-model="drinkValue">
            <option value="0" selected>--</option>
            <option 
              v-for="option in beverages[this.type].drinkOptions" 
              v-bind:value="option.value"
            >
              {{ option.description }} ({{ option.size }})
            </option>
          </select>
        </div>

      <div class="flex-child">
        <h2>Whatcha Bought?</h2>
        <h3><label for="volume">Type of bottle/can contributing:</label></h3>

        <select class="soflow" name="buyValue" v-model="buyValue">
          <option value="0" selected>--</option>
          <option 
            v-for="option in beverages[this.type].buyOptions" 
            v-bind:value="option.value"
          >
            {{ option.description }} ({{ option.size }})
          </option>
        </select>

        <h3><label for="quantity">Number of bottles/cans you are adding to the fridge (including the one you plan to drink):</label></h3>    
        <select class="soflow" name="quantity" v-model="quantity">
          <option value="1">1</option> 
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
    </div>
</div>

<div class="output section wrapper">
  <h1>
    <span v-if="tokenMsg.emphasis">
      <em>{{ tokenMsg.emphasis }}</em>
    </span>
    <span v-if="calculateTokens != 0">
      {{ calculateTokens }} token<span v-if="calculateTokens > 1">s</span>
    </span>
    <span v-if="tokenMsg.plain">
      {{ tokenMsg.plain }}
    </span>
  </h1>

  <div class="total" v-bind="tokenBreakdown" v-if="calculateTokens != 0">
    <div v-bind:class="tokens.class">
      <div class="token white" v-for="n in tokens.white">
        1
      </div>
      <div class="token red"  v-for="n in tokens.red">
        2
      </div>
      <div class="token blue"  v-for="n in tokens.blue">
        5
      </div>
    </div>
  </div>
</div>

<script src="./calculator.js"></script>
</body>
</html>
