@import url('https://fonts.googleapis.com/css?family=Poppins:500,500i,600, 600i, 700,700i');

:root {
  --accentColor: #58c1c5;
  --backgroundColor: #fbea9b;
  --font-color: #1a1a1a;
}

html, body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--font-color);
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  h1 {
      font-size: 2em;
  }
}

h2 {
  font-weight: 600
}

h3 {
  font-weight: 400;
}

.section {
    padding: 25px 0px;
}

.section:first-of-type {
  padding-top: 0;
}

h2 label {
  margin-top: 0;
}

.type-selection {
  background-color: var(--backgroundColor);
}

.wrapper {
  padding: 20px 35px 35px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .wrapper {
    padding: 15px 30px;
  }
}

select {
  display: block;
  margin: 5px 0;
  width: 150px;
}

h3 {
  font-size: 16px;
  font-style: italic;
}

.output {
  background-color: var(--accentColor);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: -10px 14px 25px -10px rgba(0, 0, 0, 0.2);
}

.tokens {
  display: flex;
}

.token {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 50px;
  border: 1px dotted black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token.blue {
  background-color: blue;
}

.token.red {
  background-color: red;
}

.token.white {
  background-color: white;
}

.add .token {
  mix-blend-mode: soft-light;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.flex-child {
  flex-basis: 50%;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .flex-child {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.types {
  display: flex;
}

.type {
  height: 85px;
  width: 145px;
  font-size: 13px;
  border: 3px solid var(--accentColor);
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  box-shadow: inset 0px 0px 75px 7px #b9b9b9;
  cursor: pointer;
}

.type img {
  height: 50px;
  width: auto;
}

/* Make the type icons bigger on phones */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .type {
    font-size: 20px;
    height: 145px;
    width: 200px;
  }

  .type img {
    height: 100px;
    width: auto;
  }
}


.type.selected {
  border: 3px solid var(--accentColor);
  box-shadow: inset 0px 0px 75px 7px var(--accentColor);
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select.soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 0px 7px #b9b9b9;
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 3px solid var(--accentColor);
   color: var(--font-color);
   font-size: inherit;
   margin: 20px 0;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

/* Make the inputs bigger on phones */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  select.soflow {
    padding: 15px 25px;
  }
}

select.soflow:focus {
  border: 3px solid var(--font-color);
}
